.header{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;;
    font-size: 29px;
    padding: 2% 0%;
}

.list-header{
    background-color: black;
    color: white
}

.list-content{
    background-color: rebeccapurple;
    color: white
}